#container {
    width: auto;
    margin: 2%;
}

body {
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color:white;
}

header {
    display: flex;
    background-color: white;
    width: 100%;
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: 'haboro-soft-extended', sans-serif;
    background-color: white;
    align-items: center;
    margin: 0px;
    width: 100%;
}

nav a {
    text-decoration: none;
    font-family: 'Noto-sans', sans-serif;
    color: black;
}

.menu {
    display: flex;
    align-content: flex-end;
}

.work, .about {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px;
}

img {
    float: right; 
    margin: 5px;
    padding: 15px 15px 15px 15px;

}

p {
    display: flex;
    text-align: left;
    font-size: 1rem;
    font-family: Sanchez, serif;
    flex-wrap: nowrap;
    padding: 24px;
}

button {
    display: grid;
    width: 25%;
    background-color: hsl(331, 19%, 45%);
    background: linear-gradient(hsl(331, 19%, 45%), hsl(331, 19%, 45%) 50%, white 50%, white);
    background-size: 100% 200%;
    border: solid hsl(331, 19%, 45%);
    font-family: 'haboro-soft-extended', sans-serif;
    color: white;
    padding: 30px;
    height: 30px;
    align-content: center;
    transition: .3s;
    text-decoration: none;
}

button:hover {
    background-color: white;
    background-position: 100% 100%;
    color:hsl(331, 19%, 45%);
    text-decoration: none;
}

.accordion{
    width: 80%;
    margin: 5%;
    font-family: 'Sanchez', serif;
    align-content: center;
}

/* accordion heading */
.accordion h1{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin-bottom:0px;
    margin-top:0px;
    background-color: #F4E28D;
    color: #005D6C;
    padding: 10px;
    border:3px solid white;
    border-radius:3px;
}
.accordion h1:hover{
    cursor:pointer;
}

/* accordion section content */
.accordion div{
    font-family: 'Sanchez' serif;
    display: none;
    padding:10px;
    height:100px;
    line-height:20px;
    border: none;
    border-radius:3px;
    text-align: left;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    margin: 0%;
    height: 40px;
    width: 100%;
    align-items: center;
    background-color: hsl(331, 19%, 45%);
    font-family: 'haboro-soft-extended', sans-serif;
  }
  
  footer, .contact {
    color: white;
    text-decoration: none;
    font-size: 12px;
    
  }

@media screen and (max-width:480px){
    .accordion{
        width:100%;
        margin:0;
}

/* font-family: 'Sanchez', serif;