#container {
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #F4E28D;
  margin: 0%;
  width: 100%;
}

header {
  display: flex;
  background-color: white;
  width: 100%;
  margin: 0%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin: 0px;
  width: 100%;
}

nav a {
  text-decoration: none;
  font-family: 'haboro-soft-extended', sans-serif;
  color: black;
}

.menu {
  display: flex;
  align-content: flex-end;
}

.work, .about {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px;
}

.AboutMe {
  display: flex;
  margin: 0px 0px 80px 80px;

}

button {
  font-family: 'haboro-soft-extended', sans-serif;
  font-style: normal;
  color: white;
  background-color: #005D6C;
  background: linear-gradient(#005D6C, #005D6C 50%, white,white 50%);
  background-size: 100% 200%;
  border: solid #005D6C;
  padding: 15px;
  transition: .3s;
}

hr.solid {
  border-top: 3px solid #005D6C;
  width: 80%;
}

.banner {
  width: 100%;
  height: 300px;
  background-image: url("../images/Web_banner_3-01.png");
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'haboro-soft-extended', sans-serif;
  font-weight: 700px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 3rem;
  color: #232932;
  margin: 80px 0px 0px 80px;
}

p2 {
  font-family: 'Sanchez', serif;
  font-size: 1.3rem;
  display: grid;
  width: 80%;
  padding: 0px 0px 20px;
  margin: 15px 80px;
}

h2 {
  font-family: 'haboro-soft-extended', sans-serif;
  font-weight: 700px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  color: #232932;
  padding: 40px 0px 0px 80px;
  margin: 0px;
}

.my_work {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.card {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  padding: 10px 0px;
  margin: 80px;
  width: 80%;
  align-content: center;
  align-items: center;
  grid-area: "img" "content";
}

.card .img {
  grid-area: img;
  width: 50%;
  height: auto;
}

h3 {
  font-family: 'haboro-soft-extended', sans-serif;
  font-weight: 700px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #232932;
}

p {
  font-family: 'Sanchez', serif;
  font-size: 1rem;
  padding-bottom: 15px;
}

button:hover {
  background-color: white;
  background-position: 100% 100%;
  color: #005D6C;
  border: solid #005D6C;
}

.project_link {
  display: grid;
  background-color: white;
  width: 100%;
  padding: 10%;
}

.project_link .projects {
  display: grid;
  width: 25%;
  background-color: hsl(331, 19%, 45%);
  background: linear-gradient(hsl(331, 19%, 45%), hsl(331, 19%, 45%) 50%, white 50%, white);
  background-size: 100% 200%;
  border: solid hsl(331, 19%, 45%);
  padding: 30px;
  height: 30px;
  align-content: center;
  transition: .3s;
}

.projects:hover {
  background-color: white;
  background-position: 100% 100%;
  color:hsl(331, 19%, 45%);

}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  margin: 0%;
  height: 40px;
  width: 100%;
  align-items: center;
  background-color: hsl(331, 19%, 45%);
  font-family: 'haboro-soft-extended', sans-serif;
}

footer, .contact {
  color: white;
  text-decoration: none;
  font-size: 12px;
  
}

@media screen and (max-width: 500px) {
 .card {
     display: grid;
     grid-template-columns: 1fr;
 }

@media screen and (max-width: 500px){
  .banner {
      width: 100%;
      height: 200px;
  }